<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TITLE</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <link rel='stylesheet' type='text/css' href='/styles/reset.css'>
  <link rel='stylesheet' type='text/css' href='/styles/login_register.css'>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Open+Sans" rel="stylesheet">
</head>

<div id="header"><h1>REGISTER</h1></div>


<div id='form-container'>
  <form method='POST' action='/auth/register'>
    <input class='user_data' name='username' type='text' placeholder='username' required />
    <input class='user_data' name='email' type='email' placeholder='email' required />
    <input class='user_data' name='password' type='password' placeholder='password' required />
    <input class='user_data' name='fname' type='text' placeholder='first name' required />
    <input class='user_data' name='lname' type='text' placeholder='last name' required />
    <input id='submit' type='submit' value='SUBMIT !' style="margin-top: 140px;" />
  </form>
</div>

<% include ../partials/end %>
