<!--this anchor will be used to open the menu-->
<!--CSS character for "trigram heaven" (or "burger menu" icon)-->

<a onclick="openMenu()" id="menuBtn">&#9776;</a> 

<!--
This anchor element is the burger menu "button"
onclick, the menu will open to the side (see javascript below)
-->

<a onclick="openMenu()" id="menuBtn">&#9776;</a>

<!--
This nav elenemt holds the links for the side menu
The first anchor is the x "button" to close the menu
-->

<nav id="navBar" class="sideMenu">
    <a id="close" onclick="closeMenu()">&times;</a>
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
    <a href="1family.html">1 Family <br>1 Foundation</a>
    <a href="music.html">Music</a>
    <a href="videos.html">Videos</a>
    <a href="gallery.html">Gallery</a>
    <a href="booking.html">Book</a>
</nav>
