<!--this anchor will be used to open the menu-->
<!--CSS character for "trigram heaven" (or "burger menu" icon)-->

<a onclick="openMenu()" id="menuBtn">&#9776;</a>

<!--
This anchor element is the burger menu "button"
onclick, the menu will open to the side (see javascript below)
-->

<a onclick="openMenu()" id="menuBtn">&#9776;</a>

<!--
This nav elenemt holds the links for the side menu
The first anchor is the x "button" to close the menu
-->

<nav id="navBar" class="sideMenu">
    <a id="close" onclick="closeMenu()">&times;</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="/user">User Feed</a>
    <a href="/daily">Daily Bait</a>
    <a href="/user/profile">Profile</a>
    <a href="/auth/logout">Logout</a>

</nav>
