<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TITLE</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <link rel='stylesheet' type='text/css' href='/styles/reset.css'>
  <link rel='stylesheet' type='text/css' href='/styles/landing.css'>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Open+Sans" rel="stylesheet">
</head>

<body>

<br />
<br />
<center>
  <img src="img/landing/logo_.png">
</center>

<br />
<br />
<h1>De&bull;Bait&bull;Er</h1>

<center>
  <button><a href="/auth/login">Get to baitin'!</a></button>
  <br />
  <button><a href="/auth/register">Register!</a></button>
</center>


<% include ./partials/end %>
