<% include ../partials/boilerplate %>

<div id="header">
  <h1 id="head_text">USER FEED</h1>
</div>

<center>
  <img src="img/main/main_page_header.jpg" />
</center>

<div id="newTopic">
  <a href="/user/new"><button id="newBtn"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></button></a>
  <h1>NEW TOPIC</h1>
</div>

<div id="feed-container">

</div>

<% include ../partials/end %>
