#header {
  background-color: #F7625B;
  height: 55px;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 10px double #191927;
}

#head_text {
  color: white;
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 34pt;
}

#bait_info {
  margin: auto;
  margin-top: 75px;
  width: 90vw;
  border: 2px double #191927;
  display: flex;
  flex-direction: column;
}

.wrapper{
  font-family: 'Bungee Shade', cursive;
  font-size: 14pt;
  color: #191927;
  margin-top: 10px;
}

h1 {
  display: flex;
  justify-content: center;
}

#form-container {
  margin: auto;
  width: 90vw;
  height: 40vh;
  margin-top: 15px;
}

#update_form {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.bait_data {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  font-family: 'Open Sans', sans-serif;
}

#edit_description {
  margin-top: 15px;
  border: 1px solid #191927;
}

.submit {
  background-color: #F7625B;
  color: white;
  letter-spacing: 2px;
  font-family: 'Bungee Shade', cursive;
}

.submit:active{
  background-color: white;
}
