body{
  background-color: #F7625B;
}
h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 30pt;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}

button {
  background-color: #191927;
  opacity: .7;
  margin-top: 20px;
  border: none;
}

button:hover {
  opacity: 1;
}
