body{
  background-color: #F87D5A;
}
h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 30pt;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: grey;
  margin-top: 40px;
}
