/*
Class below used to style side navBar
Width is initilaized at "0", to be changed by js
Fixed to stay in position on scroll, top-left corner
z-indexed to lay ontop of content
overflow-x to keep content hidden untill active
transition for effecs when menu icon clicked
*/
.sideMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999999;
    top: 0;
    right: 0;
    background-color: #191927;
    overflow-x: hidden;
    transition: 0.6s;
}

/*sytling for each anchor tag in menu*/
/*transition for slight effect when on hover (below)*/
.sideMenu a {
    padding: 18px 18px 18px 35px;
    text-decoration: none;
    font-size: 32px;
    color: white;
    display: block;
    font-family: 'Open Sans', sans-serif;
    z-index: 99999999;
    display: flex;
    justify-content: center;
}

/*change color when anchor tag is hovered over*/
.sideMenu a:hover {
    color: #F7625B;
    transition: 0.1s;
}

/*styling for burger menu icon */
/*position absoulte, at top to keep consistency for each page*/
#menuBtn {
    color: #191927;
    font-size: 26pt;
    padding-left: 10px;
    position: fixed;
    top: 3px;
    right: 5px;
    z-index: 2; /*keeps icon above frame*/
    cursor: pointer; /*pointer replaces curser when over menu btn*/
}

/*styling for hover effects*/
/*#menuBtn:hover {
    color: white;
    transition: 0.1s;

}*/

/*pointer replaces curser when over close btn*/
#close {
    cursor: pointer;
    top: -23px;
    right: -9px;
    position: absolute;
    font-size: 34pt;
    margin-bottom: 20px;
}

/*styling for hover effects over close btn*/
#close:hover {
    color: #191927;
    transition: 0.6s;
}
